
input{
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  margin-top: 18px;
}

.btn{
  width: 50px;
  height: 40px;
  background-color: blue;
  color: white;
  font-size: 16px;
  
}

.footer{
  background-color:lightgrey;

}



